PORT=5000
MONGO_URI=mongodb+srv://user:user2110@cluster0.qsgxahv.mongodb.net/reverse_market
JWT_SECRET=super_secret_jwt_key_12345
NODE_ENV=development

# Google OAuth Credentials
GOOGLE_CLIENT_ID=427134315087-gt9lv8m2mitah743rjkr17u25rd0659r.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

CLIENT_REDIRECT_URL=http://localhost:5173

SERPAPI_API_KEY=24f0fbdeec1dac4f174aa374e4ef58b548e331a020979fbc54c32916626eaeda

CLOUDINARY_URL=cloudinary://861559418188558:COPd6VXLSk4Y81M4giBxKo18gq0@dhmub0cla
